<div class="container">
    <h3>Panel administratora</h3>
    <form role="form" name="admin.ratingForm" ng-submit="admin.saveRating()">
        <div class="form-group">
            <span>Kandydat: </span>
            <select class="form-control" ng-model="admin.selectedCandidate" name="candidateSelect"
            ng-options="candidate as (candidate.name + ' (' + candidate.email + '): ' + candidate.answersNo + ' odpowiedzi') for candidate in admin.candidates | filter:{email:'!ds.pg.gda.pl'} | orderBy:['-answersNo','name','email']" ng-change="admin.loadAnswers()"></select>
        </div>
        <div class="form-group">
            <span>Zadanie:</span>
            <select class="form-control" ng-model="admin.selectedTask" name="taskSelect"
            ng-options="task as ('[' + task.type + '] ' + task.title) group by ('Trudność: ' + task.difficulty) for task in admin.taskList | orderBy:['difficulty','type','title']" ng-change="admin.loadAnswers()"></select>
        </div>
        <div class="form-group">
            <p id="taskContent" ng-bind-html="admin.selectedTask.content"></p>
        </div>
        <uib-accordion ng-if="admin.answers" 
        close-others="false">
            <uib-accordion-group heading="Odpowiedź {{admin.answers.length - $index}} ({{answerRevision.answerDate | date:'yyyy-MM-dd HH:mm:ss'}})"
            ng-repeat="answerRevision in admin.answers"
            is-open="$first">
                <pre class="word-wrap">{{answerRevision.content}}</pre>
            </uib-accordion-group>
        </uib-accordion>
        <p class="alert bg-info text-info" ng-if="!admin.answers">Brak zarejestrowanych odpowiedzi.</p>
        <div ng-if="admin.ratingHistory">
        <p class="bg-info text-info" >
            <h4>Ostatnia ocena: {{ admin.latestRating.fresh ? '' : '(nieaktualna)' }}</h4>
            <ul class="list-unstyled">
            <li>Autor: {{ admin.latestRating.authorName }}</li>
            <li>Ocena: 
            <uib-rating  max="5" readonly="true"
            ng-model="admin.latestRating.rating">
            </uib-rating> </li>
            </ul>
            {{admin.latestRating.comment}}
        </p>
        </div>
        <div class="form-group" ng-if="admin.answers">
            <textarea name="reviewComment" rows="5" placeholder="Miejsce na komentarz..." 
            ng-model="admin.ratingForm.comment" 
            class="form-control answer"></textarea>
        </div>
        <div class="form-group" ng-if="admin.answers">
            <span  class="pull-left">
            Twoja ocena: <uib-rating  max="5"
            ng-model="admin.ratingForm.rating">
            </uib-rating></span>
            <button type="submit" 
            class="btn btn-primary pull-right" 
            ng-disabled="admin.ratingForm.$pristine">Zapisz</button>
        </div>
    </form>
</div>