<h2>Kontakt</h2>
<p class="main-text text-justify">Masz jakieś pytania dotyczące rekrutacji? Chciałbyś dowiedzieć się czegoś o naszych zadaniach? A może znalazłeś błąd w portalu rekrutacyjnym?</p>
<p class="main-text text-justify">W tych i innych sprawach związanych z rekrutacją kontaktuj się z nami e-mailowo, korzystając z adresu <a href="mailto:rekrutacja@ds.pg.gda.pl">rekrutacja@ds.pg.gda.pl</a> lub zajrzyj na któryś z naszych dyżurów. Ich listę możesz znaleźć <a href="http://pg.edu.pl/skos/dyzury"> tutaj</a>.</p>
<p class="main-text text-justify">Siedzimy również na kanale IRC #skos na serwerze <a href="http://irc.ds.pg.gda.pl/">irc.ds.pg.gda.pl</a>. Tak, jesteśmy aż tak starzy ;-). (niektórzy)</p>
<p class="main-text pull-right">Administratorzy SKOS PG</p>