<div class="container">
	<h2>Cześć, {{tasks.user.name}}!</h2>
	<div uib-collapse="tasks.introCollapsed">
	<p class="lead" >Fajnie, że tu trafiłeś :-). Dalsze kroki są proste:
			<ol>
				<li>Wybierz zadanie</li>
				<li>Podaj swoją odpowiedź</li>
				<li><strong>Zapisz</strong> ją!</li>
				<li>Wróc do punktu 1.</li>
			</ol>Nie ma na co czekać... Powodzenia!
		</p>
	</div>
	<a href="" ng-click="tasks.introCollapsed=!tasks.introCollapsed">
		<span ng-show="tasks.introCollapsed">[Pokaż wprowadzenie]</span>
		<span ng-show="!tasks.introCollapsed">[Ukryj wprowadzenie]</span>
	</a>
	<hr>
	<form role="form" name="tasks.answerForm" ng-submit="tasks.saveAnswer()">
		<div class="form-group">
			<select class="form-control" ng-model="tasks.selected" name="taskSelect"
			ng-options="task as ('[' + task.type + '] ' + task.title) group by ('Trudność: ' + task.difficulty) for task in tasks.taskList | orderBy:['difficulty','type','title']"
			ng-change="tasks.changeTask($index)" id="taskSelect"></select>
		</div>
		<div class="form-group">
			<p id="taskContent" ng-bind-html="tasks.selected.content"></p>
			<textarea rows="5" placeholder="Miejsce na Twoje rozwiązanie...." class="form-control answer" name="taskAnswer"
			ng-model="tasks.currentAnswer.content" required></textarea>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary pull-right" ng-disabled="tasks.answerForm.$pristine || tasks.answerForm.$invalid">Zapisz</button>
		</div>
		<div class="clearfix"></div>
	</form>
	<hr>
	<div ng-if="tasks.latestRating != null" class="clearfix">
		<p class="bg-info text-info" >
            <h4>Nasza ocena {{ tasks.latestRating.fresh ? '' : 'poprzedniej wersji ' }}odpowiedzi: </h4>
            <ul class="list-unstyled">
            <li>Ocena: 
            <uib-rating  max="5" readonly="true" ng-model="tasks.latestRating.rating">
            </uib-rating> </li>
            </ul>
            {{tasks.latestRating.comment}}
        </p>
	</div>
	<div ng-if="tasks.latestRating == null">
		<p class="alert bg-info text-info">Nie oceniliśmy jeszcze tego zadania.</p>
	</div>
</div>