$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

$body-bg: #0c6ba1;
$white: #fff;
$brand-primary: #0c6ba1;

$navbar-default-bg:                #f8f8f8;

$navbar-default-link-color:                $brand-primary;
$navbar-default-link-hover-color:          darken($brand-primary, 5%);
$navbar-default-link-hover-bg:             lighten($navbar-default-bg, 3%);
$navbar-default-link-active-color:         darken($brand-primary, 5%);
$navbar-default-link-active-bg:            darken($navbar-default-bg, 3%);
// $navbar-default-link-disabled-color:       #ccc !default;
// $navbar-default-link-disabled-bg:          transparent !default;

// // Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         $navbar-default-link-color;
// $navbar-default-brand-hover-bg:            transparent !default;

// // Navbar toggle
// $navbar-default-toggle-hover-bg:           #ddd !default;
// $navbar-default-toggle-icon-bar-bg:        #888 !default;
// $navbar-default-toggle-border-color:       #ddd !default;

$jumbotron-bg: $white;

$footer-height: 100px;

// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
// endbower

.header {
  @include box-shadow(0 3px 20 0 rgba(0, 0, 0, .42));
}


.jumbotron {
  @include box-shadow(0 0 20 0 rgba(0, 0, 0, .42));
  margin-bottom: 0;

  p {
    font-size: $font-size-base;
  }
}

.main-text {
  font-size: $font-size-large;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  // Margin bottom by footer height 
  margin-bottom: $footer-height;
}

#footer {
  @include box-shadow(0 -3px 20 0 rgba(0, 0, 0, .42));
  background-color: $white;
  bottom: 0;
  // Set the fixed height of the footer here 
  height: $footer-height;
  position: absolute;
  text-align: right;
  width: 100%;

  p {
    padding-top: 30;
  }

  img {
    width: 80px;
  }
}

.display-table {
  display: table;
  table-layout: fixed;
}

.display-cell {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.form-group {
  width: 100%;
}

#main {
  height: auto;
  margin-bottom: 20;
  margin-top: 10;
}

.navbar {
  border-top: 3px solid #0c6ba1;

  .navbar-nav {
    font-size: $font-size-h4;
  }

  .navbar-brand {
    font-size: $font-size-h3;
  }

}

.answer {
  @include resizable(vertical);
  font-family: $font-family-monospace;
}

.alert {
  width: 100%;
}


// columns of same height styles

.row-full-height {
  height: 100%;
}

.col-full-height {
  height: 100%;
  vertical-align: middle;
}

.row-same-height {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (max-width: 768px) {
  body {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }


}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

// Animacje CSS dla alertów
.alert.ng-enter, .alert.ng-move,
.registration-success.ng-enter, .registration.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

.alert.ng-enter.ng-enter-active,
.alert.ng-move.ng-move-active,
.registration-success.ng-enter.ng-enter-active,
.registration.ng-move.ng-move-active {
  opacity:1;
}


.alert.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}