<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body ng-app="sokApp">

  <div class="header" ng-controller="MenuCtrl as menu">
    <div class="navbar navbar-default navbar-static-top " role="navigation">
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <div class="navbar-header ">

            <button type="button" class="navbar-toggle collapsed" ng-click="menu.collapseToggle()">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand visible-xs-inline-block">SOK.ds.pg.gda.pl</span>
            <span class="navbar-brand hidden-xs">System Odsiewania Kandydatów</span>
          </div>

          <div class="collapse navbar-collapse" uib-collapse="menu.collapsed">
            <ul class="nav navbar-nav navbar-right">
              <li ng-class="{'active' : menu.isActive('$')}" ng-click="menu.collapse()"><a href="#/">Strona Główna</a></li>
              <li ng-class="{'active' : menu.isActive('contact')}" ng-click="menu.collapse()"><a href="#/contact">Kontakt</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="alerts" ng-controller="AlertCtrl as alertDisplay">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <uib-alert ng-repeat="alert in alertDisplay.list" dismiss-on-timeout="10000"
        type="{{alert.type}}" close="alertDisplay.close($index)">{{alert.message}}</uib-alert>
      </div>
    </div>
  </div>

  <div class="container" id="main">
    <div class="col-md-10 col-md-offset-1 jumbotron">
    <div ng-view=""></div>
    </div>
  </div>

  <div class="collapse navbar-collapse navbar-fixed-bottom" id="footer">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <p class="text-muted navbar-right copyright">&copy; SKOS PG 2015</p>
        <p class="navbar-right github"><a href="https://github.com/skos/sok"><img src="images/GitHub-Mark-64px.png" width="32" height="32" alt="SOK na Githubie!" title="SOK na Githubie!"></a></p>
        <img src="images/SKOS.svg" class="logo">
      </div>
    </div>
  </div>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/tasks.js"></script>
  <script src="scripts/controllers/menu.js"></script>
  <script src="scripts/controllers/alert.js"></script>
  <script src="scripts/services/tasksapi.js"></script>
  <script src="scripts/services/alerts.js"></script>
  <script src="scripts/services/httpregistrationhandler.js"></script>
  <script src="scripts/services/httpanswerhandler.js"></script>
  <script src="scripts/services/httpstatus.js"></script>
  <script src="scripts/services/httpgeneralhandler.js"></script>
  <!-- endbuild -->
</body>
</html>
