<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="connection.url">jdbc:postgresql://localhost:5432/sok</property>
		<property name="connection.username">sok</property>
		<property name="connection.password">sok_pass</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>

		<!-- c3p0 settings -->
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">3</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">1800</property>

		<!-- change if you need to see SQL used -->
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		
		<!-- should generate schema? -->
		<property name="hbm2ddl.auto">update</property>

		<mapping class="pl.gda.pg.ds.sok.entities.Candidate" />
        <mapping class="pl.gda.pg.ds.sok.entities.Answer" />
        <mapping class="pl.gda.pg.ds.sok.entities.AnswerHistory" />
        <mapping class="pl.gda.pg.ds.sok.entities.Task" />
		<mapping class="pl.gda.pg.ds.sok.entities.Rate" />
	</session-factory>
</hibernate-configuration>